*.class
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
~
target
# ignore eclipse files
.project
.classpath
.settings
.metadata
# ignore m2e annotation processing files
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
# other files to ignore
derby.log
server.lock

