<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
            <h4 class="panel-title text-center">Step Execution {{stepExecutionEntity.stepExecutionId}}
                <span ng-class="isCollapsed ? 'glyphicon glyphicon-chevron-down pull-right': 'glyphicon glyphicon-chevron-up pull-right'"></span>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="isCollapsed">
            <div class="panel-body dl-panel-body">
                <div class="row">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default " title="Back to Job Execution"
                                ng-click="backToJobExecution()">
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back to Job
                            Execution
                        </button>

                        <button type="button" class="btn btn-default" title="Refresh Current Step Execution"
                                ng-click="refreshStepExecution()">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
                        </button>
                    </div>
                </div>

                <div class="row dl-row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>Step Name</dt>
                            <dd>{{stepExecutionEntity.stepName}}</dd>
                            <dt>Job Name</dt>
                            <dd>{{jobExecutionEntity.jobName}}</dd>
                            <dt>Start Time</dt>
                            <dd>{{stepExecutionEntity.startTime | date:'medium'}}</dd>
                            <dt>End Time</dt>
                            <dd>{{stepExecutionEntity.endTime | date:'medium'}}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>Batch Status</dt>
                            <dd batch-status="{{stepExecutionEntity.batchStatus}}"></dd>
                            <dt>Exit Status</dt>
                            <dd>{{stepExecutionEntity.exitStatus}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" ng-click="metricsCollapsed = !metricsCollapsed">
            <h4 class="panel-title text-center">Step Metrics
                <span ng-class="metricsCollapsed ? 'glyphicon glyphicon-chevron-down pull-right': 'glyphicon glyphicon-chevron-up pull-right'"></span>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="metricsCollapsed">
            <div class="panel-body">
                <fs-bar
                        width="900"
                        height="175"
                        duration="150"
                        bind="chartData"
                ></fs-bar>
            </div>
        </div>
    </div>
</div>
<div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
               close="closeAlert($index)">{{alert.msg}}
    </uib-alert>
</div>