<div>
    <ul class="popover-ul">
        <li>Default value: Wild card for all days (<code>*</code>)</li>
        <li>Single day as number <code>1</code>...<code>31</code></li>
        <li>Single day as negative number counting back from month end <code>-7</code>...<code>-1</code></li>
        <li>Last day of the month <code>Last</code></li>
        <li>By specific day of week {<code>1st</code>, <code>2nd</code>, <code>3rd</code>, <code>4th</code>, <code>5th</code>, <code>Last</code>} {<code>Sun</code>, <code>Mon</code>, <code>Tue</code>, <code>Wed</code>, <code>Thu</code>, <code>Fri</code>, <code>Sat</code>}</li>
        <li>Range of days, inclusive (<code>1-31</code>)</li>
        <li>Comma-separated list of days</li>
    </ul>
</div>