<div>
    <ul class="popover-ul">
        <li>Default value: Wild card for all days of week (<code>*</code>)</li>
        <li>Single day of week as number (<code>0</code> and <code>7</code> refer to Sunday) <code>0</code>...<code>7</code></li>
        <li>Single day of week as short name <code>Sun</code>, <code>Mon</code>, <code>Tue</code>, <code>Wed</code>, <code>Thu</code>, <code>Fri</code>, <code>Sat</code></li>
        <li>Range of days of week, inclusive (<code>0-7</code>)</li>
        <li>Comma-separated list of days of week</li>
    </ul>
</div>