<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" ng-click="modalOptions.close()" class="close close-x-right" type="button">&times;</button>
    <h4 class="modal-title">{{modalOptions.headerText}}</h4>
    <!--<h3 class="modal-title" ng-bind-html="modalOptions.headerText"></h3>-->
</div>
<div class="modal-body">
    <!--<p ng-bind-html="modalOptions.bodyText"></p>-->
    <p>{{modalOptions.bodyText}}</p>

    <div ng-show="modalOptions.isRestart">
        <label for="taRestartParams" class="control-label">Override/Add to Previous Job Parameters</label>
        <textarea id="taRestartParams" title="Override/Add to Previous Job Parameters"
                  data-ng-model="modalOptions.item.jobParameters"
          rows="8" cols="70" class="form-control"
          placeholder="Previous execution parameters will still be used in restart. You can override and add parameters here, as key = value pairs, each pair in its own line."></textarea>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="modalOptions.isSchedule"
               ng-click="modalOptions.item.initialDelay=null; modalOptions.item.date=null; modalOptions.item.time=null; modalOptions.item.persistent=false;">
                Schedule Restart
            </label>
        </div>

        <ng-form name="onetimeScheduleForm" ng-show="modalOptions.isSchedule">
            <p class="help-block">
                To schedule a restart, choose either <i>Delay Minutes</i> or <i>Date &amp; Time</i>.
            </p>
            <div class="form-group">
                <label>Delay Minutes:</label>
                <input type="number" class="form-control" required ng-model="modalOptions.item.initialDelay"
                       ng-class="{ 'invalid-schedule': modalOptions.item.initialDelay < 0 }"
                >
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Date &amp; Time:</label>
                        <p class="input-group">
                            <input type="text" name="dateInput" class="form-control" uib-datepicker-popup
                                   ng-model="modalOptions.item.date" close-text="Close"
                                   is-open="onetimeScheduleDatepicker.opened"
                                   min-date="modalOptions.datepickerOptions.minDate"
                                   ng-class="{ 'invalid-schedule': !onetimeScheduleForm.dateInput.$valid }">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="onetimeScheduleDatepicker.opened=true">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <uib-timepicker ng-model="modalOptions.item.time">
                    </uib-timepicker>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="persistentSchedule" value="true"
                           ng-disabled="modalOptions.features.entries !== null && modalOptions.features.entries.indexOf('persistent') < 0"
                           ng-model="modalOptions.item.persistent"/>
                    Persistent Schedule
                </label>
            </div>
        </ng-form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
</div>
