<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" ng-click="modalOptions.close()" class="close close-x-right" type="button">&times;</button>
    <h4 class="modal-title">{{modalOptions.headerText}}</h4>
    <!--<h3 class="modal-title" ng-bind-html="modalOptions.headerText"></h3>-->
</div>
<div class="modal-body">
    <!--<p ng-bind-html="modalOptions.bodyText"></p>-->
    <p>{{modalOptions.bodyText}}</p>

    <div ng-show="modalOptions.isRestart">
        <label>Override/Add to Previous Job Parameters
                <textarea title="Override/Add to Previous Job Parameters" data-ng-model="modalOptions.item"
                  rows="10" cols="70" class="form-control"
                      placeholder="Previous execution parameters will still be used in restart. You can override and add parameters here, as key = value pairs, each pair in its own line."></textarea>
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
</div>
