<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" ng-click="modalOptions.close()" class="close close-x-right" type="button">x</button>
    <h4 class="modal-title">{{modalOptions.headerText}}</h4>
    <!--<h3 class="modal-title" ng-bind-html="modalOptions.headerText"></h3>-->
</div>
<div class="modal-body">
    <!--<p ng-bind-html="modalOptions.bodyText"></p>-->
    {{modalOptions.bodyText}}
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
</div>
