<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" ng-click="modalOptions.close()" class="close close-x-right" type="button">&times;</button>
    <h4 class="modal-title">{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">
    <form name="outerForm">
        <uib-tabset>
            <uib-tab index="0" heading="One-time Schedule"
                     select="modalOptions.tab = 0"
             deselect="modalOptions.item.initialDelay=null; modalOptions.item.date=null; modalOptions.item.persistent=false; modalOptions.invalid=null;">
                <ng-form name="onetimeScheduleForm">
                    <p class="help-block">
                        To schedule a one-time, single-action job execution, choose either <i>Delay Minutes</i>
                        or <i>Date &amp; Time</i>.
                    </p>
                    <div class="form-group">
                        <label>Delay Minutes:</label>
                        <input type="number" class="form-control" ng-model="modalOptions.item.initialDelay"
                               ng-class="{ 'invalid-schedule': modalOptions.item.initialDelay < 0 || modalOptions.invalid.initialDelay0 }">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date &amp; Time:</label>
                                <p class="input-group">
                                    <input type="text" name="dateInput" class="form-control" uib-datepicker-popup
                                           ng-model="modalOptions.item.date"
                                           close-text="Close" placeholder="yyyy-MM-dd"
                                           ng-class="{ 'invalid-schedule': !onetimeScheduleForm.dateInput.$valid}"
                                           min-date="modalOptions.datepickerOptions.minDate"
                                           is-open="onetimeScheduleDatepicker.opened"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="onetimeScheduleDatepicker.opened=true">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <uib-timepicker ng-model="modalOptions.item.time">
                            </uib-timepicker>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="modalOptions.item.persistent"
                                   ng-disabled="modalOptions.features.entries !== null && modalOptions.features.entries.indexOf('persistent') < 0">
                            Persistent Schedule
                        </label>
                        <span class="glyphicon glyphicon-question-sign"
                              uib-popover="whether the schedule is saved after server shutdown"
                              popover-trigger="mouseenter" popover-placement="bottom"></span>
                    </div>
                </ng-form>
            </uib-tab>

            <uib-tab index="1" heading="Repeating Schedule"
                     select="modalOptions.tab = 1"
             deselect="modalOptions.item.initialDelay=null; modalOptions.item.afterDelay=null; modalOptions.item.interval=null; modalOptions.item.persistent=false; modalOptions.invalid=null;">
                <ng-form name="repeatingScheduleForm">
                    <p class="help-block">
                        To schedule a repeating job execution, specify <i>Initial Delay</i>,
                        and either <i>Subsequent Delay</i> or <i>Interval</i>.
                    </p>
                    <div class="form-group">
                        <label>Initial Delay Minutes:</label>
                        <span class="glyphicon glyphicon-question-sign"
                              uib-popover="minutes for initial delay"
                              popover-trigger="mouseenter"></span>
                        <input type="number" class="form-control" required ng-model="modalOptions.item.initialDelay"
                               ng-class="{ 'invalid-schedule': modalOptions.item.initialDelay < 0 || modalOptions.invalid.initialDelay1 }">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Subsequent Delay Minutes:</label>
                                <span class="glyphicon glyphicon-question-sign"
                                      uib-popover="minutes to delay after finishing each job execution"
                                      popover-trigger="mouseenter"></span>
                                <input type="number" class="form-control" ng-model="modalOptions.item.afterDelay"
                                       ng-class="{ 'invalid-schedule': modalOptions.item.afterDelay < 0 || modalOptions.invalid.afterDelay }">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Interval Minutes:</label>
                                <span class="glyphicon glyphicon-question-sign"
                                      uib-popover="the period (in minutes) between successive executions"
                                      popover-trigger="mouseenter"></span>
                                <input type="number" class="form-control" ng-model="modalOptions.item.interval"
                                       ng-class="{ 'invalid-schedule': modalOptions.item.interval < 0 || modalOptions.invalid.interval }">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="modalOptions.item.persistent"
                                   ng-disabled="modalOptions.features.entries !== null && modalOptions.features.entries.indexOf('persistent') < 0">
                            Persistent Schedule
                        </label>
                        <span class="glyphicon glyphicon-question-sign"
                              uib-popover="whether the schedule is saved after server shutdown"
                              popover-trigger="mouseenter" popover-placement="bottom"></span>
                    </div>
                </ng-form>
            </uib-tab>

            <uib-tab index="2" heading="Calendar-based Schedule"
                     disable="modalOptions.features.entries !== null && modalOptions.features.entries.indexOf('calendar') < 0"
                     select="modalOptions.tab = 2"
             deselect="modalOptions.item.scheduleExpression=null;modalOptions.item.persistent=false; modalOptions.invalid=null">
                <ng-form name="calendarBasedScheduleForm">
                    <p class="help-block">
                        To schedule a calendar-based job execution, specify the following schedule expression attributes.
                    </p>
                    <div ng-class="{ 'invalid-schedule': modalOptions.invalid.scheduleExpression }">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Year:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/year.html'"
                                          popover-placement="bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.year"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Month:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/month.html'"
                                          popover-placement="bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.month"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Day of Month:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/dayOfMonth.html'"
                                          popover-placement="left-bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.dayOfMonth"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Day of Week:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/dayOfWeek.html'"
                                          popover-placement="bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.dayOfWeek"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Hour:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/hour.html'"
                                          popover-placement="bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.hour"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minute:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover-template="'template/popover/minute.html'"
                                          popover-placement="bottom"
                                          popover-trigger="mouseenter"></span>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.minute"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date &amp; Time:</label>
                                    <p class="input-group">
                                        <input type="text" name="startDateInput" class="form-control"
                                               uib-datepicker-popup
                                               ng-model="modalOptions.item.scheduleExpression.start.date"
                                               close-text="Close" placeholder="yyyy-MM-dd"
                                               ng-class="{ 'invalid-schedule': !calendarBasedScheduleForm.startDateInput.$valid }"
                                               is-open="calendarBasedScheduleStartDatepicker.opened"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="calendarBasedScheduleStartDatepicker.opened=true">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <uib-timepicker ng-model="modalOptions.item.scheduleExpression.start.time">
                                </uib-timepicker>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date &amp; Time:</label>
                                    <p class="input-group">
                                        <input type="text" name="endDateInput" class="form-control" uib-datepicker-popup
                                               ng-model="modalOptions.item.scheduleExpression.end.date"
                                               close-text="Close" placeholder="yyyy-MM-dd"
                                               ng-class="{ 'invalid-schedule': !calendarBasedScheduleForm.endDateInput.$valid }"
                                               min-date="modalOptions.datepickerOptions.minDate"
                                               is-open="calendarBasedScheduleEndDatepicker.opened"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="calendarBasedScheduleEndDatepicker.opened=true">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <uib-timepicker ng-model="modalOptions.item.scheduleExpression.end.time">
                                </uib-timepicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Timezone:</label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover="timezone with which to execute the schedule"
                                          popover-trigger="mouseenter" popover-placement="bottom"></span>
                                    <select class="form-control"
                                            ng-model="modalOptions.item.scheduleExpression.timezone">
                                        <option value="{{modalOptions.timezones.entries[0]}}" ng-selected>
                                            {{modalOptions.timezones.entries[0]}} - default
                                        </option>
                                        <option ng-repeat="tz in modalOptions.timezones.entries" ng-if="$index > 0">{{tz}}</option>
                                    </select>
                                    <input type="text" class="form-control"
                                           ng-model="modalOptions.item.scheduleExpression.timezone"
                                           ng-if="modalOptions.timezones.entries === null">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p>&nbsp;</p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="modalOptions.item.persistent"
                                               ng-disabled="modalOptions.features.entries !== null && modalOptions.features.entries.indexOf('persistent') < 0">
                                        Persistent Schedule
                                    </label>
                                    <span class="glyphicon glyphicon-question-sign"
                                          uib-popover="whether the schedule is saved after server shutdown"
                                          popover-trigger="mouseenter" popover-placement="left-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </uib-tab>
        </uib-tabset>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
</div>
