<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
            <h4 class="panel-title text-center">Job Execution {{jobExecutionEntity.executionId}}
                <span ng-class="isCollapsed ? 'glyphicon glyphicon-chevron-down pull-right': 'glyphicon glyphicon-chevron-up pull-right'"></span>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="isCollapsed">
            <div class="panel-body dl-panel-body">
                <div class="row">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default " title="Back to Job Executions"
                                ng-click="backToJobExecutions()">
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back to Job Executions
                        </button>

                        <button type="button" class="btn btn-default " title="Stop a Running Job Execution"
                                ng-disabled="stopDisabled" ng-click="stopJobExecution()">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                        </button>

                        <button type="button" class="btn btn-default" title="Restart a Failed or Stopped Job Execution"
                                ng-disabled="restartDisabled" ng-click="restartJobExecution()">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restart
                        </button>

                        <button type="button" class="btn btn-default" title="Abandon an Inactive Job Execution"
                                ng-disabled="abandonDisabled" ng-click="abandonJobExecution()">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Abandon
                        </button>

                        <button type="button" class="btn btn-default" title="Refresh Current Job Execution"
                                ng-click="refreshJobExecution()">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
                        </button>
                    </div>
                </div>

                <div class="row dl-row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>Job Name</dt>
                            <dd>{{jobExecutionEntity.jobName}}</dd>
                            <dt>Job Instance</dt>
                            <dd>{{jobExecutionEntity.jobInstanceId}}</dd>
                            <dt>Create Time</dt>
                            <dd>{{jobExecutionEntity.createTime | date:'medium'}}</dd>
                            <dt>Updated Time</dt>
                            <dd>{{jobExecutionEntity.lastUpdatedTime | date:'medium'}}</dd>
                            <dt>Start Time</dt>
                            <dd>{{jobExecutionEntity.startTime | date:'medium'}}</dd>
                            <dt>End Time</dt>
                            <dd>{{jobExecutionEntity.endTime | date:'medium'}}</dd>
                        </dl>
                    </div>

                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>Batch Status</dt>
                            <dd batch-status="{{jobExecutionEntity.batchStatus}}"></dd>
                            <dt>Exit Status</dt>
                            <dd>{{jobExecutionEntity.exitStatus}}</dd>
                            <dt>Job Parameters</dt>
                            <dd class="break-word">{{formatAsKeyValuePairs(jobExecutionEntity.jobParameters)}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center">Step Executions</h5>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
</div>

<div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"
               template-url="template/alert/alert-x-right.html">
        <span ng-if="alert.type == 'danger'" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span ng-if="alert.type == 'success'" class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{alert.msg}}
    <span ng-if="stateTransitionParams"><a ui-sref="details({{stateTransitionParams}})">View the new job execution
        {{restartJobExecutionEntity.executionId}}.</a></span>
    </uib-alert>
</div>

