<div>
    <h4 class="text-center">Recent Jobs</h4>

    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="startJobForm">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class='control-label label-for-required' for="tbJobName">Job XML Name</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="tbJobName" class="form-control" type="text" title="Job Xml Name"
                                       autocomplete="off"
                                       required
                                       ng-model="jobName" autofocus
                                       uib-typeahead="jobNameEntity.jobName for jobNameEntity in gridOptions.data | filter:{jobName:$viewValue}"
                                       placeholder="Job XML name, without '.xml' extension"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" title="Start a Job Execution"
                                        ng-disabled="startJobForm.$invalid"
                                        ng-click="startJob()">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Job
                                </button>
                                <button type="button" class="btn btn-default" title="Schedule a Job Execution"
                                        ng-disabled="startJobForm.$invalid"
                                        ng-click="scheduleJob()">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Schedule...
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" for="taJobParams">Enter Job Parameters</label>
                            </div>
                            <div class="row">Or</div>
                            <div class="row">
                                <label class="control-label" for="jobParametersLoad">Load Job Parameters</label>
                            </div>
                            <div class="row">
                                <input id="jobParametersLoad" type="file" accept="text/*" bind-content-to="jobParameters">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="taJobParams" title="Job Parameters" ng-model="jobParameters"
                                      rows="5"
                                      placeholder="key = value pairs, each pair in its own line.  Or load job parameters from a text file">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"
                   template-url="template/alert/alert-x-right.html">
            <span ng-if="alert.type == 'danger'" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span ng-if="alert.type == 'success'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{alert.msg}}
            <span ng-if="stateTransitionParams">
                <a ui-sref="details({{stateTransitionParams}})">View the new job execution
                    {{jobExecutionEntity.executionId}}.</a>
            </span>
        </uib-alert>
    </div>
</div>