/* app css stylesheet */

.grid {
  font-size: small;
}

.break-word {
  word-wrap: break-word;
}

.label-for-required:after {
  content:"*";
  color:red;
}

button {
  min-width: 10ch;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.close-x-right {
  text-align: right;
  color: black;
  opacity: 0.8;
}

.caret {
  border-width: 6px;
}

.caret-reversed {
  border-top-width: 0;
  border-bottom: 6px solid #000000;
}

.dl-panel-body {
  padding-bottom: 0;
}

.dl-row {
  margin-top: 10px;
}

.panel .panel-body form {
  padding-left: 10px;
}

.alert {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.invalid-schedule {
  border: 1px solid red !important;
}