/* app css stylesheet */

.grid {
  font-size: small;
}

/*.app-footer {*/
  /*position: absolute;*/
  /*bottom: 10px;*/
  /*right: 10px;*/
/*}*/

.table-data-key-cell {
  width: 14%;
  font-weight: bold;
  text-align: right;
  padding-right: 8px;
}

.table-data-value-cell {
  width: 36%;
}

.table-data-value-cell-long {
  width: 86%;
  word-wrap: break-word;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

label textarea{
  vertical-align: text-top;
  font-weight: normal;
}

button {
  min-width: 11ch;
}

#step-metrics-chart {
  margin-left: 5em;
  margin-top: 2em;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.close-x-right {
  text-align: right;
  color: black;
  opacity: 0.8;
}
