<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="jberetUI" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="jberetUI" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="jberetUI" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="jberetUI" ng-strict-di class="no-js" xmlns:alignment="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JBeret UI</title>
  <meta name="description" content="JBeret Batch Job Management">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/bundle.css">
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
  <img src="img/jberet_banner_1180px.png" width="100%">

  <ul class="nav nav-tabs nav-justified">
      <li ui-sref-active="active">
          <a ui-sref="jobs" ng-click="jobInstancesDropdown.isOpen=false; jobExecutionsDropdown.isOpen=false">Jobs</a>
      </li>

      <li ui-sref-active="active">
          <a ui-sref="schedules" ng-click="jobInstancesDropdown.isOpen=false; jobExecutionsDropdown.isOpen=false">Schedules</a>
      </li>

      <li>
          <div on-toggle="toggled(open)" uib-dropdown auto-close="disabled" is-open="jobInstancesDropdown.isOpen">
              <a href="#/jobinstances" ng-click="jobInstancesDropdown.isOpen=false; jobExecutionsDropdown.isOpen=false">Job Instances</a>
              <span ng-class="jobInstancesDropdown.isOpen ? 'caret caret-reversed' : 'caret'" uib-dropdown-toggle></span>
              <ul hidden role="menu" class="col-md-12" uib-dropdown-menu>
                  <li role="menuitem">
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label for="jobInstancesDropdownJobName" class="col-sm-4 control-label">Job Name</label>

                              <div class="col-sm-7">
                                  <input type="text" class="form-control input-small"
                                         id="jobInstancesDropdownJobName" ng-model="jobInstancesDropdown.jobName" placeholder="Job Name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="jobInstancesDropdownCount" class="col-sm-4 control-label">Count</label>

                              <div class="col-sm-7">
                                  <input type="number" min="1" class="form-control input-small"
                                         id="jobInstancesDropdownCount" ng-model="jobInstancesDropdown.count"
                                         placeholder="Count of Results">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="jobInstancesDropdownStart" class="col-sm-4 control-label">Start from</label>

                              <div class="col-sm-7">
                                  <input type="number" min="0" class="form-control input-small"
                                         id="jobInstancesDropdownStart" ng-model="jobInstancesDropdown.start"
                                         placeholder="Start Index in Results">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-2">
                                  <button type="reset" class="btn btn-danger btn-sm" ng-click="jobInstancesDropdown={isOpen: true}">
                                      Reset
                                  </button>
                              </div>
                              <div class="col-sm-offset-1 col-sm-2">
                                  <button type="button" class="btn btn-warning btn-sm" ng-click="jobInstancesDropdown.isOpen=false">
                                      Cancel
                                  </button>
                              </div>
                              <div class="col-sm-offset-1 col-sm-2">
                                  <button type="button" class="btn btn-primary btn-sm" ng-click="jobInstancesDropdown.isOpen=false"
                                          ui-sref="jobinstances({jobName: jobInstancesDropdown.jobName, start: jobInstancesDropdown.start, count:jobInstancesDropdown.count})">
                                      OK
                                  </button>
                              </div>
                          </div>
                      </form>
                  </li>
              </ul>
          </div>
      </li>

      <li>
          <div on-toggle="toggled(open)" uib-dropdown auto-close="disabled" is-open="jobExecutionsDropdown.isOpen">
              <a href="#/jobexecutions" ng-click="jobInstancesDropdown.isOpen=false; jobExecutionsDropdown.isOpen=false">Job Executions</a>
              <span ng-class="jobExecutionsDropdown.isOpen ? 'caret caret-reversed' : 'caret'" uib-dropdown-toggle></span>
              <ul hidden role="menu" class="col-md-12" uib-dropdown-menu>
                  <li role="menuitem">
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label for="jobExecutionsDropdownJobName" class="col-sm-5 control-label">Running Executions by Job Name</label>

                              <div class="col-sm-6">
                                  <input type="text" class="form-control input-small"
                                         id="jobExecutionsDropdownJobName" ng-model="jobExecutionsDropdown.jobName" placeholder="Job Name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="jobExecutionsDropdownCount" class="col-sm-5 control-label">Count</label>

                              <div class="col-sm-6">
                                  <input type="number" min="1" class="form-control input-small"
                                         id="jobExecutionsDropdownCount" ng-model="jobExecutionsDropdown.count"
                                         placeholder="Count of Results">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="jobExecutionsDropdownExecutionId" class="col-sm-5 control-label">Job Execution by Id</label>

                              <div class="col-sm-6">
                                  <input type="number" min="0" class="form-control input-small"
                                         id="jobExecutionsDropdownExecutionId" ng-model="jobExecutionsDropdown.jobExecutionId"
                                         placeholder="Job Execution Id">
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-2">
                                  <button type="reset" class="btn btn-danger btn-sm" ng-click="jobExecutionsDropdown={isOpen: true}">
                                      Reset
                                  </button>
                              </div>
                              <div class="col-sm-offset-1 col-sm-2">
                                  <button type="button" class="btn btn-warning btn-sm" ng-click="jobExecutionsDropdown.isOpen=false">
                                      Cancel
                                  </button>
                              </div>
                              <div class="col-sm-offset-1 col-sm-2">
                                  <button type="button" class="btn btn-primary btn-sm"
                                          ng-click="jobExecutionsDropdown.isOpen=false; jobExecutionsDropdown.running = (jobExecutionsDropdown.jobName) ? true : null"
                                          ui-sref="jobexecutions({jobName: jobExecutionsDropdown.jobName, running: jobExecutionsDropdown.running, count: jobExecutionsDropdown.count, jobExecutionId: jobExecutionsDropdown.jobExecutionId})">
                                      OK
                                  </button>
                              </div>
                          </div>
                      </form>
                  </li>
              </ul>
          </div>
      </li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ui-view></div>

  <script src="bundle.js"></script>
</body>
</html>
