# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: JBeret

on:
  pull_request:
    branches:
      - main
      - 2.*
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  build-test-matrix:
    name: ${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest ]
        jdk-distribution: [ temurin ]
        jdk-version: [ 11 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk-distribution }} ${{ matrix.jdk-version }}
        uses: actions/setup-java@v3
        with:
          distribution: ${{ matrix.jdk-distribution }}
          java-version: ${{ matrix.jdk-version }}
          cache: 'maven'
      - name: Run Tests
        run: mvn -ntp -U -B -fae clean verify
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: surefire-${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
          path: '**/surefire-reports/*.txt'
