# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: JBeret Main Branch Build

on:
  pull_request:
    branches:
      - main
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build-test-matrix:
    name: ${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        jdk-distribution: [ 'temurin' ]
        jdk-version: [ '17', '21', '25' ]
        feature-pack: ['wildfly-preview-feature-pack', 'wildfly-ee-galleon-pack']
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.jdk-distribution }} ${{ matrix.jdk-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk-version }}
          distribution: temurin
          cache: 'maven'
      - name: Quick Build
        run: mvn -V -B -ntp install -DskipTests
      - name: Full Build With WildFly With Feature Pack ${{matrix.feature-pack}}
        run: mvn -V -B -ntp install  '-Dserver.test.feature.pack.artifactId=${{matrix.feature-pack}}'
#      - uses: actions/upload-artifact@v3
#        if: failure()
#        with:
#          name: surefire-${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
#          path: '**/surefire-reports/*.txt'
